<div class="user user-access">
    <f:flashMessages renderMode="div" />

    <f:form actionUri="{f:uri.action(action:'access')}" section="{f:if(condition: settings.formSection, then: settings.formSection, else: 'c{cobj.uid}')}" class="f3-form">
        <f:if condition="{settings.emailAsUsername}">
            <f:then>
                <div class="fieldwrap">
                    <label><f:translate key="user_form_email" /></label>
                    <p><strong>{user.email}</strong></p>
                </div>
            </f:then>
            <f:else>
                <div class="fieldwrap">
                    <label><f:translate key="user_form_username" /></label>
                    <p><strong>{user.username}</strong></p>
                </div>
            </f:else>
        </f:if>

        <div class="fieldwrap fieldwrap-password" id="password-container-{cobj.uid}">
            <label for="user_password"><f:translate key="user_form_password_new" /></label>
            <f:form.textfield name="newPassword" type="password" required="required" value="{user.plainPassword}" id="user_password" additionalAttributes="{autocomplete: 'off', minlength: settings.passwordValidate.minLength, pattern: passwordPattern, data-container: 'body', data-user-toggle: 'popover', data-placement: 'top', data-html: '#password-info-{cobj.uid}', data-trigger: 'focus'}" class="error_new_password" />

            <div id="password-info-{cobj.uid}" class="hidden password-info">
                <f:if condition="{settings.passwordInfo}">
                    <f:if condition="{settings.passwordValidate.minLength}">
                        <div class="active password-info-{cobj.uid}-test" data-pattern="{passwordPatternMinLength}" ><f:translate key="user_form_error_password_length" arguments="{0: settings.passwordValidate.minLength}" /></div>
                    </f:if>
                    <f:if condition="{settings.passwordValidate.specialCharacter}">
                        <div class="active password-info-{cobj.uid}-test" data-pattern="{passwordPatternSpecialCharacter}"><f:translate key="user_form_error_password_specialcharacter_{settings.passwordValidate.specialCharacter}" /></div>
                    </f:if>
                    <f:if condition="{settings.passwordValidate.lowerUpperCase}">
                        <div class="active password-info-{cobj.uid}-test" data-pattern="{passwordPatternLowerUpperCase}"><f:translate key="user_form_error_password_loweruppercase_{settings.passwordValidate.lowerUpperCase}" /></div>
                    </f:if>
                    <f:if condition="{settings.passwordValidate.number}">
                        <div class="active password-info-{cobj.uid}-test" data-pattern="{passwordPatternNumber}"><f:translate key="user_form_error_password_number_{settings.passwordValidate.number}" /></div>
                    </f:if>
                </f:if>
            </div>
            <f:if condition="{settings.passwordStrength}">
                <div class="pwstrength_viewport_progress"></div>
            </f:if>
        </div>

        <f:if condition="{settings.passwordRepeat}">
            <div class="fieldwrap">
                <label for="user_password_repeat"><f:translate key="user_form_password_new_repeat" /></label>
                <f:form.textfield name="newPasswordRepeat" type="password" id="user_password_repeat" class="error_newPassword error_new_password_repeat" additionalAttributes="{autocomplete: 'off', minlength: settings.passwordValidate.minLength, pattern: passwordPattern}" value="" />
            </div>
        </f:if>

        <div class="fieldwrap fieldwrap_submit">
            <f:form.submit value="{f:translate(key:'user_access_form_submit')}" />
        </div>

        <f:if condition="{settings.delete.enabled}">
            <f:if condition="{settings.text.deleteInfo}">
                <div class="fieldwrap">
                    <f:format.html>{settings.text.deleteInfo}</f:format.html>
                </div>
            </f:if>

            <div class="fieldwrap fieldwrap_submit">
                <f:if condition="{settings.delete.page}">
                    <f:then>
                        <f:link.action pageUid="{settings.delete.page}" pluginName="user_delete" action="delete" class="button button-delete">{f:translate(key:'user_delete_form_submit')}</f:link.action>
                    </f:then>
                    <f:else>
                        <f:link.action action="delete" class="button button-delete">{f:translate(key:'user_delete_form_submit')}</f:link.action>
                    </f:else>
                </f:if>
            </div>
        </f:if>
    </f:form>
</div>