{namespace i=IMIA\ImiaUser\ViewHelpers}

<div class="user user-activate">
    <p>
        <f:if condition="{error}">
            <f:then>
                <f:format.nl2br>{error}</f:format.nl2br>

                <br><br>
                <a href="typo3" class="btn btn-primary" target="_blank">TYPO3 Login</a>
            </f:then>
            <f:else>
                <f:format.nl2br><f:translate key="user_activate_form_error" /></f:format.nl2br>
            </f:else>
        </f:if>
    </p>
</div>