{namespace i=IMIA\ImiaUser\ViewHelpers}

<div class="user user-activate user-activate-success">
    <p>
        <f:format.nl2br><f:translate key="user_activate_form_success" arguments="{0: '{user.username} &lt;{user.email}&gt;'}" /></f:format.nl2br>
    </p>
</div>