{namespace i=IMIA\ImiaUser\ViewHelpers}

<div class="user user-confirm">
    <f:if condition="{settings.text.confirmError}">
        <f:then>
            <f:format.html>{settings.text.confirmError}</f:format.html>
        </f:then>
        <f:else>
            <p>
                <f:format.nl2br><f:translate key="user_confirm_form_error" /></f:format.nl2br>
            </p>
        </f:else>
    </f:if>
</div>