{namespace i=IMIA\ImiaUser\ViewHelpers}

<div class="user user-confirm user-confirm-success">
    <f:if condition="{settings.activation}">
        <f:then>
            <f:if condition="{settings.text.confirmActivate}">
                <f:then>
                    <f:format.html>{settings.text.confirmActivate}</f:format.html>
                </f:then>
                <f:else>
                    <p>
                        <f:format.nl2br><f:translate key="user_confirm_form_success" /></f:format.nl2br>
                    </p>
                    <p>
                        <f:format.nl2br><f:translate key="user_confirm_form_success_activation" /></f:format.nl2br>
                    </p>
                </f:else>
            </f:if>

            <f:if condition="{settings.pages.loginUid}">
                <f:form pageUid="{settings.pages.loginUid}">
                    <div class="fieldwrap">
                        <f:form.submit value="{f:translate(key:'user_register_form_back')}" />
                    </div>
                </f:form>
            </f:if>
        </f:then>
        <f:else>
            <f:if condition="{settings.text.confirmSuccess}">
                <f:then>
                    <f:format.html>{settings.text.confirmSuccess}</f:format.html>
                </f:then>
                <f:else>
                    <p>
                        <f:format.nl2br><f:translate key="user_confirm_form_success" /></f:format.nl2br>
                    </p>
                </f:else>
            </f:if>

            <f:if condition="{settings.pages.rootUid}">
                <f:form pageUid="{settings.pages.rootUid}">
                    <div class="fieldwrap">
                        <f:form.submit value="{f:translate(key:'user_register_form_home')}" />
                    </div>
                </f:form>
            </f:if>
        </f:else>
    </f:if>
</div>