{namespace i=IMIA\ImiaUser\ViewHelpers}

<div class="user user-delete user-delete-success">
    <f:if condition="{settings.text.deleteSuccess}">
        <f:then>
            <f:format.html>{settings.text.deleteSuccess}</f:format.html>
        </f:then>
        <f:else>
            <p>
                <f:format.nl2br><f:translate key="user_delete_form_success" /></f:format.nl2br>
            </p>
        </f:else>
    </f:if>
    
    <meta http-equiv="refresh" content="5; URL=/">
</div>