{namespace i=IMIA\ImiaUser\ViewHelpers}

<div class="user user-delete">
    <f:form actionUri="{f:uri.action(action:'delete')}" section="{f:if(condition: settings.formSection, then: settings.formSection, else: 'c{cobj.uid}')}" enctype="multipart/form-data" class="f3-form">
        <div class="fieldwrap">
            <f:if condition="{settings.text.delete}">
                <f:then>
                    <f:format.html>{settings.text.delete}</f:format.html>
                </f:then>
                <f:else>
                    <p>
                        <f:format.nl2br><f:translate key="user_delete_description" /></f:format.nl2br>
                    </p>
                </f:else>
            </f:if>
        </div>

        <div class="fieldwrap fieldwrap_submit">
            <label>
                <f:if condition="{0: cobj.list_type} == {0: 'imiauser_user_access'}">
                    <f:then>
                        <f:link.action action="access" class="button"><f:translate key="user_delete_cancel" /></f:link.action>
                    </f:then>
                    <f:else>
                        <f:if condition="{0: cobj.list_type} == {0: 'imiauser_user_profile'}">
                            <f:then>
                                <f:link.action action="profile" class="button"><f:translate key="user_delete_cancel" /></f:link.action>
                            </f:then>
                            <f:else>
                                <a href="javascript:history.back()" class="button"><f:translate key="user_delete_cancel" /></a>
                            </f:else>
                        </f:if>
                    </f:else>
                </f:if>
            </label>

            <f:form.submit value="{f:translate(key:'user_delete_form_submit')}" class="delete" />
        </div>
    </f:form>
</div>