{namespace i=IMIA\ImiaUser\ViewHelpers}

<div class="user user-profile">
    <f:flashMessages renderMode="div" />

    <f:form actionUri="{f:uri.action(action:'profile')}" section="{f:if(condition: settings.formSection, then: settings.formSection, else: 'c{cobj.uid}')}" enctype="multipart/form-data" class="f3-form">
        <f:render partial="UserFormFields" arguments="{_all}"/>

        <f:for each="{registerChecks}" as="registerCheck">
            <div class="fieldwrap fieldwrap_check clear">
                <f:form.checkbox name="{registerCheck.id}" id="user_{registerCheck.id}" value="1" />
                <label for="user_{registerCheck.id}">
                    <f:format.html parseFuncTSPath="">{registerCheck.text}</f:format.html><f:if condition="{registerCheck.mandatory}"><span class="mandatory">*</span></f:if>
                </label>
            </div>
        </f:for>

        <f:if condition="{settings.gtc}">
            <f:if condition="{settings.gtcInProfile}">
                <div class="fieldwrap fieldwrap_check clear">
                    <f:form.checkbox name="gtc" id="user_gtc" value="1" disabled="{f:if(condition: settings.gtcEditable, then: false, else: 'disabled')}" checked="{f:if(condition:'{user.gtc}', then:'checked', else: false)}" />
                    <label for="user_gtc"><f:format.html parseFuncTSPath=""><f:translate key="user_form_gtc" /></f:format.html></label>
                </div>
            </f:if>
        </f:if>

        <div class="fieldwrap fieldwrap_submit">
            <f:form.submit value="{f:translate(key:'user_profile_form_submit')}" />
        </div>

        <f:if condition="{settings.delete.enabled}">
            <f:if condition="{settings.text.deleteInfo}">
                <div class="fieldwrap">
                    <f:format.html>{settings.text.deleteInfo}</f:format.html>
                </div>
            </f:if>

            <div class="fieldwrap fieldwrap_submit">
                <f:if condition="{settings.delete.page}">
                    <f:then>
                        <f:link.action pageUid="{settings.delete.page}" pluginName="user_delete" action="delete" class="button button-delete">{f:translate(key:'user_delete_form_submit')}</f:link.action>
                    </f:then>
                    <f:else>
                        <f:link.action action="delete" class="button button-delete">{f:translate(key:'user_delete_form_submit')}</f:link.action>
                    </f:else>
                </f:if>
            </div>
        </f:if>
    </f:form>
</div>