{namespace i=IMIA\ImiaUser\ViewHelpers}

<div class="user user-confirm user-confirm-success">
    <f:if condition="{settings.text.formSuccess}">
        <f:then>
            <f:format.html>{settings.text.formSuccess}</f:format.html>
        </f:then>
        <f:else>
            <p>
                <f:format.nl2br><f:translate key="user_register_form_success" /></f:format.nl2br>
            </p>
            <p>
                <f:format.nl2br><f:translate key="user_register_form_confirmation" /></f:format.nl2br>
            </p>
        </f:else>
    </f:if>

    <f:if condition="{settings.pages.loginUid}">
        <f:form pageUid="{settings.pages.loginUid}">
            <div class="fieldwrap">
                <f:form.submit value="{f:translate(key:'user_register_form_back')}" />
            </div>
        </f:form>
    </f:if>
</div>