{namespace i=IMIA\ImiaUser\ViewHelpers}

<f:if condition="{captcha}">
    <script type="text/javascript">
        // <![CDATA[
        var RecaptchaOptions = {
        // ]]>
            theme : '{settings.captcha.theme}'
        // <![CDATA[
        };
        // ]]>
    </script>
 </f:if>

<div class="user user-register">
    <f:flashMessages renderMode="div" />

    <f:if condition="{settings.text.beforeForm}">
        <f:format.html>{settings.text.beforeForm}</f:format.html>
    </f:if>

    <f:form action="registerSubmit" section="{f:if(condition: settings.formSection, then: settings.formSection, else: 'c{cobj.uid}')}" class="f3-form">
        <f:form.hidden name="contentId" value="{contentId}" />
        <f:if condition="{settings.emailAsUsername}">
            <f:then>
                <div class="fieldwrap">
                    <label for="user_email"><f:translate key="user_form_email" /><span class="mandatory">*</span></label>
                    <f:form.textfield name="email" type="text" required="required" value="{user.email}" id="user_email" class="error_email" />
                </div>
            </f:then>
            <f:else>
                <div class="fieldwrap">
                    <label for="user_username"><f:translate key="user_form_username" /><span class="mandatory">*</span></label>
                    <f:form.textfield name="username" type="text" required="required" value="{user.username}" id="user_username" class="error_username" />
                </div>
            </f:else>
        </f:if>

        <f:if condition="{settings.passwordGenerate}">
            <f:else>
                <div class="fieldwrap fieldwrap-password" id="password-container-{cobj.uid}">
                    <label for="user_password"><f:translate key="user_form_password" /><span class="mandatory">*</span></label>
                    <f:form.textfield name="password" type="password" required="required" value="{user.plainPassword}" id="user_password" additionalAttributes="{autocomplete: 'off', minlength: settings.passwordValidate.minLength, pattern: passwordPattern, data-container: 'body', data-user-toggle: 'popover', data-placement: 'top', data-html: '#password-info-{cobj.uid}', data-trigger: 'focus'}" class="error_password" />

                    <div id="password-info-{cobj.uid}" class="hidden password-info">
                        <f:if condition="{settings.passwordInfo}">
                            <f:if condition="{settings.passwordValidate.minLength}">
                                <div class="active password-info-{cobj.uid}-test" data-pattern="{passwordPatternMinLength}" ><f:translate key="user_form_error_password_length" arguments="{0: settings.passwordValidate.minLength}" /></div>
                            </f:if>
                            <f:if condition="{settings.passwordValidate.specialCharacter}">
                                <div class="active password-info-{cobj.uid}-test" data-pattern="{passwordPatternSpecialCharacter}"><f:translate key="user_form_error_password_specialcharacter_{settings.passwordValidate.specialCharacter}" /></div>
                            </f:if>
                            <f:if condition="{settings.passwordValidate.lowerUpperCase}">
                                <div class="active password-info-{cobj.uid}-test" data-pattern="{passwordPatternLowerUpperCase}"><f:translate key="user_form_error_password_loweruppercase_{settings.passwordValidate.lowerUpperCase}" /></div>
                            </f:if>
                            <f:if condition="{settings.passwordValidate.number}">
                                <div class="active password-info-{cobj.uid}-test" data-pattern="{passwordPatternNumber}"><f:translate key="user_form_error_password_number_{settings.passwordValidate.number}" /></div>
                            </f:if>
                        </f:if>
                    </div>
                    <f:if condition="{settings.passwordStrength}">
                        <div class="pwstrength_viewport_progress"></div>
                    </f:if>
                </div>

                <f:if condition="{settings.passwordRepeat}">
                    <div class="fieldwrap">
                        <label for="user_password_repeat"><f:translate key="user_form_password_repeat" /><span class="mandatory">*</span></label>
                        <f:form.textfield name="passwordRepeat" type="password" required="required" value="{user.plainPassword}" id="user_password_repeat" additionalAttributes="{autocomplete: 'off', minlength: settings.passwordValidate.minLength, pattern: passwordPattern}" class="error_password error_password_repeat" />
                    </div>
                </f:if>
            </f:else>
        </f:if>

        <f:render partial="UserFormFields" arguments="{_all}"/>

        <f:if condition="{captcha}">
            <div class="fieldwrap fieldwrap_captcha clear">
                <label for="recaptcha_response_field"><f:translate key="user_form_captcha" /><span class="mandatory">*</span></label>
                {captcha -> f:format.html(parseFuncTSPath:'')}
            </div>
        </f:if>

        <f:for each="{registerChecks}" as="registerCheck">
            <div class="fieldwrap fieldwrap_check clear">
                <f:form.checkbox name="{registerCheck.id}" id="user_{registerCheck.id}" value="1" />
                <label for="user_{registerCheck.id}">
                    <f:format.html parseFuncTSPath="">{registerCheck.text}</f:format.html><f:if condition="{registerCheck.mandatory}"><span class="mandatory">*</span></f:if>
                </label>
            </div>
        </f:for>

        <f:if condition="{settings.gtc}">
            <div class="fieldwrap fieldwrap_check clear">
                <f:form.checkbox name="gtc" id="user_gtc" value="1" />
                <label for="user_gtc">
                    <f:format.html parseFuncTSPath=""><f:translate key="user_form_gtc" /></f:format.html><f:if condition="{settings.gtcOptional}"><f:then></f:then><f:else><span class="mandatory">*</span></f:else></f:if>
                </label>
            </div>
        </f:if>

        <f:if condition="{settings.text.beforeSubmit}">
            <div class="fieldwrap fieldwrap_submit">
                <f:format.html>{settings.text.beforeSubmit}</f:format.html>
            </div>
        </f:if>

        <div class="fieldwrap fieldwrap_submit">
            <f:form.submit value="{f:translate(key:'user_register_form_submit')}" />
        </div>
    </f:form>

    <f:if condition="{settings.text.afterForm}">
        <f:format.html>{settings.text.afterForm}</f:format.html>
    </f:if>
</div>