{namespace i=IMIA\ImiaUser\ViewHelpers}

<f:if condition="{0: '{field}', 1: '{fields.enabled.firstName}'} == {0: 'lastName', 1: 'firstName'}">
    <f:else>
        <f:if condition="{0: '{field}', 1: '{fields.enabled.zip}'} == {0: 'city', 1: 'zip'}">
            <f:else>
                <div class="fieldwrap">
                    <label for="user_{field -> i:format.lowercase()}">
                        <f:if condition="{0: '{field}', 1: '{fields.enabled.lastName}'} == {0: 'firstName', 1: 'lastName'}">
                            <f:then>
                                <f:translate key="user_form_{field -> i:format.lowercase()}" /><f:if condition="{field -> i:inarray(array: fields.mandatory)}"><span class="mandatory">*</span></f:if>,
                                <f:translate key="user_form_lastname" /><f:if condition="{fields.enabled.lastName -> i:inarray(array: fields.mandatory)}"><span class="mandatory">*</span></f:if>
                            </f:then>
                            <f:else>
                                <f:if condition="{0: '{field}', 1: '{fields.enabled.city}'} == {0: 'zip', 1: 'city'}">
                                    <f:then>
                                        <f:translate key="user_form_{field -> i:format.lowercase()}" /><f:if condition="{field -> i:inarray(array: fields.mandatory)}"><span class="mandatory">*</span></f:if>,
                                        <f:translate key="user_form_city" /><f:if condition="{fields.enabled.city -> i:inarray(array: fields.mandatory)}"><span class="mandatory">*</span></f:if>
                                    </f:then>
                                    <f:else>
                                        <f:translate key="user_form_{field -> i:format.lowercase()}" /><f:if condition="{field -> i:inarray(array: fields.mandatory)}"><span class="mandatory">*</span></f:if>
                                    </f:else>
                                </f:if>
                            </f:else>
                        </f:if>
                    </label>

                    <f:if condition="{field} == 'gender'">
                        <f:render partial="UserForm/Gender" arguments="{field: field, fields: fields, user: user, cobj: cobj, info: info, settings: settings}" />
                    </f:if>
                    <f:if condition="{field} == 'country'">
                        <f:render partial="UserForm/Country" arguments="{field: field, fields: fields, user: user, cobj: cobj, info: info, settings: settings}" />
                    </f:if>
                    <f:if condition="{field} == 'language'">
                        <f:render partial="UserForm/Language" arguments="{field: field, fields: fields, user: user, cobj: cobj, info: info, settings: settings}" />
                    </f:if>
                    <f:if condition="{field} == 'description'">
                        <f:render partial="UserForm/Description" arguments="{field: field, fields: fields, user: user, cobj: cobj, info: info, settings: settings}" />
                    </f:if>
                    <f:if condition="{field} == 'image'">
                        <f:render partial="UserForm/Image" arguments="{field: field, fields: fields, user: user, cobj: cobj, info: info, settings: settings}" />
                    </f:if>
                    <f:if condition="{field} == 'pdf'">
                        <f:render partial="UserForm/Pdf" arguments="{field: field, fields: fields, user: user, cobj: cobj, info: info, settings: settings}" />
                    </f:if>
                    <f:if condition="{field} == 'firstName'">
                        <f:render partial="UserForm/FirstName" arguments="{field: field, fields: fields, user: user, cobj: cobj, info: info, settings: settings}" />
                    </f:if>
                    <f:if condition="{field} == 'zip'">
                        <f:render partial="UserForm/Zip" arguments="{field: field, fields: fields, user: user, cobj: cobj, info: info, settings: settings}" />
                    </f:if>

                    <f:if condition="{field -> i:inarray(array: 'gender, country, language, description, image, pdf, firstName, zip')}">
                        <f:else>
                            <f:render partial="UserForm/Default" arguments="{field: field, fields: fields, user: user, cobj: cobj, info: info, settings: settings}" />
                        </f:else>
                    </f:if>
                </div>
            </f:else>
        </f:if>
    </f:else>
</f:if>