<f:be.container
    pageTitle="IMIA User"
    enableClickMenu="true"
    loadJQuery="true"
    loadExtJs="false"
    loadExtJsTheme="false"
    includeCssFiles="{0: '{f:uri.resource(path:\'Stylesheets/backend.css\')}'}"
    includeJsFiles="{0: '{f:uri.resource(path:\'Javascripts/backend.js\')}'}">
    <div class="module">
        <div class="module-docheader t3js-module-docheader">
            <div class="module-docheader-bar module-docheader-bar-navigation t3js-module-docheader-bar t3js-module-docheader-bar-navigation">
                <div class="module-docheader-bar-column-left">
                    <div class="form-inline">
                        <f:be.buttons.csh />
                        <f:render section="functions" />
                    </div>
                </div>
                <div class="module-docheader-bar-column-right">
                    <f:be.pagePath /><f:be.pageInfo />
                </div>
            </div>
            <div class="module-docheader-bar module-docheader-bar-buttons t3js-module-docheader-bar t3js-module-docheader-bar-buttons">
                <div class="module-docheader-bar-column-left">
                    <div class="btn-toolbar" role="toolbar" aria-label="">
                        <f:render section="buttons" />
                    </div>
                </div>
                <div class="module-docheader-bar-column-right">
                    <div class="btn-toolbar" role="toolbar">
                        <div class="btn-group">
                            <f:be.buttons.shortcut />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="module-body t3js-module-body">
            <f:render section="content" />
        </div>
    </div>
</f:be.container>