a.button {
    background-color:#f6f6f6;
    background-image:url('/typo3/sysext/t3skin/images/backgrounds/button.png');
    background-image:linear-gradient(center top,#f6f6f6 10%,#d5d5d5 90%);
    background-image:-moz-linear-gradient(center top,#f6f6f6 10%,#d5d5d5 90%);
    background-image:-webkit-gradient(linear,0% 0%,0% 100%,color-stop(0.1,#f6f6f6),color-stop(0.9,#d5d5d5));
    background-position:bottom;
    background-repeat:repeat-x;
    border:1px solid #7c7c7c;
    border-radius:1px;
    -moz-border-radius:1px;
    color:#434343;

    height: 21px;
    line-height: 21px;
    display: inline-block;
    padding: 0 6px;
    text-decoration: none;
}
a.button:hover{
    background-color:#c8c8c8;
    background-image:url('/typo3/sysext/t3skin/images/backgrounds/button-hover.png');
    background-image:linear-gradient(center top,#f6f6f6 10%,#c8c8c8 90%);
    background-image:-moz-linear-gradient(center top,#f6f6f6 10%,#bdbcbc 90%);
    background-image:-webkit-gradient(linear,0% 0%,0% 100%,color-stop(0.1,#f6f6f6),color-stop(0.9,#c8c8c8));
    background-position:bottom;
    background-repeat:repeat-x;
    border:1px solid #737f91;
    color:#1e1e1e;
    text-decoration: none;
}

.float-right {
    float: right;
}

table.mappingTable tr.t3-row-header {
    background-color: #A2AAB8;
}
table.mappingTable tr td,
table.mappingTable tr th {
    padding: 2px 4px;
}
table.mappingTable tr.t3-row-header td {
    padding: 2px 4px; font-weight:bold; color: #fff;
}

#import-preview {
    width: 100%;
    overflow: auto;
}
#import-preview table {
    min-width: 100%;
}
.control-label span {
    vertical-align: middle;
    padding-bottom: 5px;
    display: inline-block;
    font-weight: normal;
}
.typo3-messages {
    margin-top: 24px;
}