{namespace i=IMIA\ImiaUser\ViewHelpers}

<f:if condition="{field -> i:inarray(array: fields.mandatory)}">
    <f:then>
        <f:if condition="{field} == 'email'">
            <f:then>
                <f:form.textfield type="email" required="required" name="{field}" id="user_{field -> i:format.lowercase()}" class="error_{field -> i:format.lowercase()}" value="{user -> i:invoke(method: 'get{field -> i:format.ucfirst()}')}" />
            </f:then>
            <f:else>
                <f:form.textfield name="{field}" required="required" id="user_{field -> i:format.lowercase()}" class="error_{field -> i:format.lowercase()}" value="{user -> i:invoke(method: 'get{field -> i:format.ucfirst()}')}" />
            </f:else>
        </f:if>
    </f:then>
    <f:else>
        <f:if condition="{field} == 'email'">
            <f:then>
                <f:form.textfield type="email" name="{field}" id="user_{field -> i:format.lowercase()}" class="error_{field -> i:format.lowercase()}" value="{user -> i:invoke(method: 'get{field -> i:format.ucfirst()}')}" />
            </f:then>
            <f:else>
                <f:form.textfield name="{field}" id="user_{field -> i:format.lowercase()}" class="error_{field -> i:format.lowercase()}" value="{user -> i:invoke(method: 'get{field -> i:format.ucfirst()}')}" />
            </f:else>
        </f:if>
    </f:else>
</f:if>