{namespace i=IMIA\ImiaUser\ViewHelpers}

<fieldset>
    <legend><f:translate key="user_form_{field -> i:format.lowercase()}" /></legend>
    <div class="radio_outer">
        <div class="radio_inner">
            <f:form.radio name="{field}" id="user_{field -> i:format.lowercase()}_f" class="error_{field -> i:format.lowercase()}" value="f" checked="{f:if(condition:'{0: user.gender} == {0: \'f\'}', then: 'checked', else: '')}" />
            <label for="user_{field -> i:format.lowercase()}_f">
                <f:translate key="user_form_{field -> i:format.lowercase()}_f" />
            </label>
        </div>
        <div class="radio_inner">
            <f:form.radio name="{field}" id="user_{field -> i:format.lowercase()}_m" class="error_{field -> i:format.lowercase()}" value="m" checked="{f:if(condition:'{0: user.gender} == {0: \'m\'}', then: 'checked', else: '')}" />
            <label for="user_{field -> i:format.lowercase()}_m">
                <f:translate key="user_form_{field -> i:format.lowercase()}_m" />
            </label>
        </div>
    </div>
</fieldset>