{namespace i=IMIA\ImiaUser\ViewHelpers}

<f:if condition="{user.pdf}">
    <a class="pdf-file" href="{user.pdf.publicUrl}">{user.pdf.name}</a>
</f:if>
<f:form.upload name="{field}" id="user_{field -> i:format.lowercase()}" class="error_{field -> i:format.lowercase()}" value="{user -> i:invoke(method: 'get{field -> i:format.ucfirst()}')}" />

<f:if condition="{user.pdf}">
    <f:if condition="{field -> i:inarray(array: fields.mandatory)}">
        <f:then></f:then>
        <f:else>
            <div class="fieldwrap fieldwrap_check">
                <f:form.checkbox name="{field}_delete" id="user_{field}_delete" value="1" />
                <label for="user_{field -> i:format.lowercase()}_delete"><f:translate key="user_form_{field -> i:format.lowercase()}_delete" /></label>
            </div>
        </f:else>
    </f:if>
</f:if>