{namespace i=IMIA\ImiaUser\ViewHelpers}

<f:if condition="{fields.enabled.city}">
    <f:then>
        <div class="subfieldwrap subfieldwrap-small">
            <f:if condition="{field -> i:inarray(array: fields.mandatory)}">
                <f:then>
                    <f:form.textfield name="{field}" required="required" id="user_{field -> i:format.lowercase()}" class="error_{field -> i:format.lowercase()}" value="{user -> i:invoke(method: 'get{field -> i:format.ucfirst()}')}" />
                </f:then>
                <f:else>
                    <f:form.textfield name="{field}" id="user_{field -> i:format.lowercase()}" class="error_{field -> i:format.lowercase()}" value="{user -> i:invoke(method: 'get{field -> i:format.ucfirst()}')}" />
                </f:else>
            </f:if>
        </div>
        <div class="subfieldwrap subfieldwrap-big">
            <f:if condition="{fields.enabled.city -> i:inarray(array: fields.mandatory)}">
                <f:then>
                    <f:form.textfield name="city" required="required" id="user_city" class="error_city" value="{user -> i:invoke(method: 'getCity')}" />
                </f:then>
                <f:else>
                    <f:form.textfield name="city" id="user_city" class="error_city" value="{user -> i:invoke(method: 'getCity')}" />
                </f:else>
            </f:if>
        </div>
    </f:then>
    <f:else>
        <f:if condition="{field -> i:inarray(array: fields.mandatory)}">
            <f:then>
                <f:form.textfield name="{field}" required="required" id="user_{field -> i:format.lowercase()}" class="error_{field -> i:format.lowercase()}" value="{user -> i:invoke(method: 'get{field -> i:format.ucfirst()}')}" />
            </f:then>
            <f:else>
                <f:form.textfield name="{field}" id="user_{field -> i:format.lowercase()}" class="error_{field -> i:format.lowercase()}" value="{user -> i:invoke(method: 'get{field -> i:format.ucfirst()}')}" />
            </f:else>
        </f:if>
    </f:else>
</f:if>