<f:layout name="Backend" />

<f:section name="functions">
</f:section>

<f:section name="buttons">
    <div class="btn-group">
        <f:be.buttons.icon uri="{f:uri.action(action: 'show')}" icon="actions-view-go-back" title="{f:translate(key:'be_backend_back')}" additionalAttributes="{class: 'btn btn-default btn-sm'}" />
    </div>
</f:section>

<f:section name="content">
    <f:flashMessages renderMode="div" />

    <h2>{f:translate(key:'be_backend_mapping_import_title')}</h2>

    <p>
        <strong>{imported.new}</strong> {f:translate(key:'be_backend_mapping_import_new')}.
    </p>
    <p>
        <strong>{imported.updated}</strong> {f:translate(key:'be_backend_mapping_import_updated')}.
    </p>

    <br>
    <f:link.action action="show" class="btn btn-default">
        {f:translate(key:'be_backend_back')}
    </f:link.action>
</f:section>