{namespace i=IMIA\ImiaUser\ViewHelpers}

<f:layout name="Backend" />

<f:section name="functions">
</f:section>

<f:section name="buttons">
    <div class="btn-group">
        <f:be.buttons.icon uri="{f:uri.action(action: 'upload')}" icon="actions-view-go-back" title="{f:translate(key:'be_backend_back')}" additionalAttributes="{class: 'btn btn-default btn-sm'}" />
    </div>
</f:section>

<f:section name="content">
    <h2><f:translate key="be_backend_mapping_title" /></h2>

    <f:if condition="{fields}">
        <f:then>
            <f:form action="mapping">
                <f:form.hidden name="fileName" value="{fileName}" />
                <f:form.submit value="{f:translate(key:'be_backend_refresh')}" class="btn btn-default" /><br>
                <br>

                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>{f:translate(key:'be_backend_mapping_col')}</th>
                            <th>{f:translate(key:'be_backend_mapping_map')}</th>
                            <th>{f:translate(key:'be_backend_mapping_value')}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <f:for each="{fields}" as="field" key="fieldKey">
                            <tr>
                                <th style="text-align: left; vertical-align: top; padding-top: 15px">{field.title}</th>
                                <td style="vertical-align: top">
                                    <f:form.select name="field[{fieldKey}][userfield]" options="{mapping.userfields}" value="{field.userfield}" class="form-control" />
                                </td>
                                <td>
                                    <f:if condition="{field.userfield}">
                                        <f:then>
                                            <f:if condition="{field.valueMap}">
                                                <f:then>
                                                    <table class="table">
                                                        <f:if condition="{field.userfield} == 'usergroup'">
                                                            <tr>
                                                                <td>
                                                                    <em>
                                                                        <f:translate key="be_backend_mapping_value_usergroup_option_newprefix" />
                                                                    </em>
                                                                </td>
                                                                <td>
                                                                    <f:form.textfield name="field[{fieldKey}][usergroupNewPrefix]" value="{field.usergroupNewPrefix}" class="form-control input-sm" />
                                                                </td>
                                                            </tr>
                                                        </f:if>
                                                        <f:for each="{field.valueMap.values}" as="value">
                                                            <tr>
                                                                <td>
                                                                    <small>
                                                                        <f:if condition="{0: field.userfield, 1: value.title} == {0: 'usergroup', 1: '#all'}">
                                                                            <f:then>
                                                                                <strong><f:translate key="be_backend_mapping_value_usergroup_option_all" /></strong>
                                                                            </f:then>
                                                                            <f:else>
                                                                                {value.title}
                                                                            </f:else>
                                                                        </f:if>
                                                                    </small>
                                                                </td>
                                                                <td>
                                                                    <f:if condition="{field.userfield} == 'usergroup'">
                                                                        <f:then>
                                                                            <f:switch expression="{value.title}">
                                                                                <f:case value="">
                                                                                    <f:form.select name="field[{fieldKey}][option][{value.title}]" options="{field.valueMap.options}" value="{value.option}" class="form-control input-sm" />
                                                                                </f:case>
                                                                                <f:case value="#all">
                                                                                    <f:form.select name="field[{fieldKey}][option][{value.title}]" options="{field.valueMap.options}" value="{value.option}" class="form-control input-sm" />
                                                                                </f:case>
                                                                                <f:case default="true">
                                                                                    <f:form.select name="field[{fieldKey}][option][{value.title}]" options="{field.valueMap.options}" value="{value.option}" class="form-control input-sm" prependOptionLabel="{f:translate(key: 'be_backend_mapping_value_usergroup_option_new')}" prependOptionValue="-1" />
                                                                                </f:case>
                                                                            </f:switch>
                                                                        </f:then>
                                                                        <f:else>
                                                                            <f:form.select name="field[{fieldKey}][option][{value.title}]" options="{field.valueMap.options}" value="{value.option}" class="form-control input-sm" />
                                                                        </f:else>
                                                                    </f:if>
                                                                </td>
                                                            </tr>
                                                        </f:for>
                                                    </table>
                                                </f:then>
                                                <f:else>
                                                    <f:if condition="{field.userfield} == 'password'">
                                                        <div class="form-group">
                                                            <label class="form-control control-label">
                                                                <f:form.checkbox name="passwordsPlain" value="1" checked="{passwordsPlain}" />
                                                                <span>{f:translate(key:'be_backend_mapping_import_password_plain')}</span>
                                                            </label>
                                                        </div>
                                                    </f:if>
                                                    {f:translate(key:'be_backend_mapping_value_content')}
                                                </f:else>
                                            </f:if>
                                        </f:then>
                                        <f:else>
                                            -
                                        </f:else>
                                    </f:if>
                                </td>
                            </tr>
                        </f:for>
                    </tbody>
                </table>

                <f:if condition="{mapping.specialfields}">
                    <h3>{f:translate(key:'be_backend_mapping_special_title')}</h3>

                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>{f:translate(key:'be_backend_mapping_special_field')}</th>
                                <th>{f:translate(key:'be_backend_mapping_special_map')}</th>
                            </tr>
                        </thead>
                        <tbody>
                            <f:for each="{mapping.specialfields}" as="mappingField">
                                <tr>
                                    <th style="text-align: left"><f:translate key="be_backend_user_{mappingField.field}">{mappingField.label}</f:translate></th>
                                    <td>
                                        <f:form.select options="{mappingField.options}" value="{mappingField.value}" name="specialMapping[{mappingField.field}]" class="form-control special-mapping-field" />

                                        <span class="fixed-value" style="{f:if(condition:'{mappingField.value} == \'#assignfixed#\'', else: 'display: none')}">
                                            <f:if condition="{mappingField.valueMap}">
                                                <f:then>
                                                    <f:form.select name="specialMappingValue[{mappingField.field}]" options="{mappingField.valueMap.options}" value="{mappingField.fixedValue}" class="form-control" />
                                                </f:then>
                                                <f:else>
                                                    <f:form.textfield name="specialMappingValue[{mappingField.field}]" value="{mappingField.fixedValue}" class="form-control" />
                                                </f:else>
                                            </f:if>
                                        </span>
                                    </td>
                                </tr>
                            </f:for>
                        </tbody>
                    </table>
                </f:if>

                <div class="form-group">
                    <label class="control-label">
                        <f:form.checkbox name="updateOnly" value="1" checked="{updateOnly}" />
                        <span>{f:translate(key:'be_backend_mapping_import_updateonly')}</span>
                    </label>
                </div>

                <f:form.submit value="{f:translate(key:'be_backend_refresh')}" class="btn btn-default" />

                <f:flashMessages renderMode="div" />
                <f:if condition="{canImport}">
                    <f:else>
                        <p style="color: red">
                            {f:translate(key:'be_backend_mapping_import_error')}
                        </p>
                    </f:else>
                </f:if>

                <h3>{f:translate(key:'be_backend_mapping_preview_title')}</h3>

                <div id="import-preview">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <f:for each="{translatedUserFields}" as="translatedUserField">
                                    <th nowrap="nowrap">{translatedUserField}</th>
                                </f:for>
                            </tr>
                        </thead>
                        <tbody>
                            <f:for each="{importPreview}" as="user">
                                <tr>
                                    <f:for each="{userFields}" as="field">
                                        <td nowrap>
                                            <f:if condition="{0: field} == {0: 'password'}">
                                                <f:then>
                                                    <f:if condition="{user.plainPassword}">
                                                        <f:then>{user.plainPassword}</f:then>
                                                        <f:else>
                                                            <f:if condition="{user.password}">
                                                                &lt;stays&gt;
                                                            </f:if>
                                                        </f:else>
                                                    </f:if>
                                                </f:then>
                                                <f:else>
                                                    <i:format.value field="{field}" table="{table}">{user -> i:invoke(method: 'get{field -> i:format.underscoredToUpperCamelCase()}')}</i:format.value>
                                                </f:else>
                                            </f:if>
                                        </td>
                                    </f:for>
                                </tr>
                            </f:for>
                            <f:if condition="{morePreviewCount} > 0">
                                <tr>
                                    <td colspan="{f:count(subject:'{userFields}')}">
                                        <f:translate key="be_backend_mapping_preview_more" arguments="{0: morePreviewCount}" />
                                    </td>
                                </tr>
                            </f:if>
                            <tr>
                                <f:for each="{mapping.userfieldsStatus}" as="userField">
                                    <td align="center">
                                        <f:if condition="{userField.mapped}">
                                            <f:then>
                                                <span class="t3-icon t3-icon-status t3-icon-status-status t3-icon-status-checked">&nbsp;</span>
                                            </f:then>
                                            <f:else>
                                                <f:if condition="{userField.required}">
                                                    <span class="t3-icon t3-icon-status t3-icon-status-status t3-icon-status-permission-denied">&nbsp;</span>
                                                </f:if>
                                            </f:else>
                                        </f:if>
                                    </td>
                                </f:for>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>

                <f:if condition="{canImport}">
                    <f:then>
                        <f:form.submit value="{f:translate(key:'be_backend_mapping_import')}" class="btn btn-default" id="start-import"
                            additionalAttributes="{data-action: '{f:uri.action(action: \'import\')}'}" />
                    </f:then>
                    <f:else>
                        <f:form.submit value="{f:translate(key:'be_backend_mapping_import')}" class="btn btn-default" disabled="disabled" />
                    </f:else>
                </f:if>
            </f:form>
        </f:then>
        <f:else>
            <f:link.action action="upload">{f:translate(key:'be_backend_back')}</f:link.action>
        </f:else>
    </f:if>
</f:section>