{namespace bx=IMIA\ImiaBaseExt\ViewHelpers}
<f:layout name="Backend" />

<f:section name="functions">
</f:section>

<f:section name="buttons">
    <f:if condition="{pageData.webView}">
        <div class="btn-group">
            <f:be.buttons.icon uri="#" icon="actions-document-view" title="{f:translate(key:'be_functions_page_show')}" additionalAttributes="{onclick: 'var previewWin = window.open(\'/index.php?id={pageData.uid}\',\'newTYPO3frontendWindow\');previewWin.focus();', class: 'btn btn-default btn-sm'}" />
        </div>
    </f:if>

    <f:if condition="{pageData.module} == 'fe_users'">
        <div class="btn-group">
            <f:be.buttons.icon uri="{f:uri.action(action: 'upload')}" icon="actions-edit-upload" title="{f:translate(key:'be_backend_upload')}" additionalAttributes="{class: 'btn btn-default btn-sm'}" />
        </div>
        <div class="btn-group">
            <f:be.buttons.icon uri="{bx:be.module.uri(name: 'web_list', parameters: '{id: \'{pageData.uid}\', table: \'fe_users\', imagemode: 1, csv: 1, displayFields: displayFields}')}" icon="actions-document-export-csv" title="{f:translate(key:'be_backend_csv_export')}" additionalAttributes="{class: 'btn btn-default btn-sm'}" />
        </div>
    </f:if>
</f:section>

<f:section name="content">
    <f:flashMessages renderMode="div" />

    <f:if condition="{pageData.module} == 'fe_users'">
        <f:then>
            <f:link.action action="upload" class="btn btn-default">
                <f:be.buttons.icon icon="actions-edit-upload" />
                {f:translate(key:'be_backend_upload_subtitle')}
            </f:link.action>

            <f:be.tableList
                tableName="fe_users"
                fieldList="{userFields}"
                readOnly="true"
            />
        </f:then>
    </f:if>
</f:section>