<f:layout name="Backend" />

<f:section name="functions">
</f:section>

<f:section name="buttons">
    <div class="btn-group">
        <f:be.buttons.icon uri="{f:uri.action(action: 'show')}" icon="actions-view-go-back" title="{f:translate(key:'be_backend_back')}" additionalAttributes="{class: 'btn btn-default btn-sm'}" />
    </div>
</f:section>

<f:section name="content">
    <f:flashMessages renderMode="div" />

    <h2><f:translate key="be_backend_upload_title" /></h2>
    <h3><f:translate key="be_backend_upload_subtitle" /></h3>

    <f:form action="mapping" enctype="multipart/form-data">
        <p>
            <strong><f:translate key="be_backend_upload_notice" /></strong><br>
            <f:translate key="be_backend_upload_notice_desc" /><br><br>
        </p>

        <f:form.upload name="file" class="form-control" style="width:auto" /><br>
        <br>

        <f:form.submit value="{f:translate(key:'be_backend_upload_form_submit')}" class="btn btn-default" />
    </f:form>
</f:section>